Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  cppcoreguidelines-slicing,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -misc-use-anonymous-namespace,
  -bugprone-signed-bitwise,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-container-size-empty,
  readability-redundant-*
WarningsAsErrors: ''
HeaderFilterRegex: 'src/cpp/.*'
